<!-- <div class="container-card">
    <img class="img-card" src="../../../assets/img/foto-frente.png" />
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Id ducimus necessitatibus ab nemo totam sequi. Fuga
        quisquam, consequatur repellendus provident aspernatur voluptatibus vero aliquid excepturi exercitationem
        facilis eum, culpa error!</p>
</div> -->
<div class="box background-transparent">
    <div class="card background-transparent">
        <div class="card-content">
          <div class="media">
            <div class="media-left">
              <figure class="image is-128x128">
                <img src="../../../assets/img/foto-frente.png" alt="miniatura de la imagen">
              </figure>
            </div>
            <div class="media-content ">
              <p class="title has-text-primary is-4">Raul Escobar</p>
              <p class="subtitle has-text-success is-6">@raul.r.escobar</p>
            </div>
          </div>
      
          <div class="content has-text-primary">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            Phasellus nec iaculis mauris. <a>@bulmaio</a>.
            <a href="#">#css</a> <a href="#">#responsive</a>
            <br>
            <time datetime="2016-1-1">11:09 PM - 1 Jan 2016</time>
          </div>
        </div>
      </div>
</div>
