<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <link rel="stylesheet" href="/public/css/style.css">
    <script src="https://kit.fontawesome.com/29f0a39c3c.js" crossorigin="anonymous"></script>
    <title>RaulEscobar</title>
</head>

<body class="container">
    <header class="">
        <div class="position-relative">
            <video src="/public/video/WorldRotation.mp4" autoplay loop>
                Tu navegador no admite el elemento <code>video</code>.
            </video>
            <img class="avatar" src="/public/img/foto-perfil-frente.jpeg" alt="avatar">
        </div>
    </header>
    <article class="container m-3">
        <section class="p-5 bg-secondary p-2 text-dark bg-opacity-25 rounded">
            <h2 class="title">
                Raul Roberto Escobar
            </h2>
            <p>
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quo, consequuntur autem perspiciatis sunt
                natus
                rem veritatis provident debitis dolor nihil cupiditate repellendus et tenetur, non sapiente minima
                repellat
                perferendis sequi.
            </p>
        </section>
    </article>
    <article class="container m-3 d-flex justify-content-evenly ">
        <section class="p-5 bg-secondary p-2 bg-opacity-25 rounded col-5">
            <div class="d-flex justify-content-between">
                <i class="fas fa-mobile-alt p-2 align-self-end"></i>
                <i class="flex-fill p-2 ">Telefono</i>
                <a href="" class="p-2">011 1568644494</a>
            </div>
            <div class="d-flex justify-content-between">
                <i class="fas fa-envelope p-2 align-self-end"></i>
                <i class="flex-fill p-2">correo</i>
                <a href="" class="p-2">raul.r.escobar@gmail.com</a>
            </div>
            <div class="d-flex justify-content-between">
                <i class="fab fa-linkedin p-2 align-self-end"></i>
                <i class="flex-fill p-2">Linkedin</i>
                <a href="www.linkedin.com/in/raul-r-escobar" class="p-2">Raul Escobar</a>
            </div>
            <div class="d-flex justify-content-between">
                <i class="fab fa-github  p-2 align-self-end"></i>
                <i class="flex-fill p-2">git Hub</i>
                <a href="https://github.com/RaulREscobar" class=" p-2">Raul R. Escobar</a>
            </div>
        </section>
        <section class="p-5 bg-secondary p-2 bg-opacity-25 rounded col-5">
            <div class="d-flex justify-content-between">
                <i class="fas fa-user p-2 align-self-end"></i>
                <i class="flex-fill p-2">Nombre completo</i>
                <a href="" class="p-2">Raul Roberto Escobar</a>
            </div>
            <div class="d-flex justify-content-between">
                <i class="fas fa-address-book p-2 align-self-end"></i>
                <i class="flex-fill p-2 ">Cuil</i>
                <a href="" class="p-2">20-37769126-2</a>
            </div>
            <div class="d-flex justify-content-between">
                <i class="fas fa-calendar-alt p-2 align-self-end"></i>
                <i class="flex-fill p-2">Fecha de Nacimiento</i>
                <a href="" class="p-2">21 de Diciembre de 1993</a>
            </div>
            <div class="d-flex justify-content-between">
                <i class="fas fa-address-card p-2 align-self-end"></i>
                <i class="flex-fill p-2">Dirección</i>
                <a href="" class="p-2">Pilar, Buenos Aires</a>
            </div>
        </section>
    </article>
    <article class="container m-3 d-flex justify-content-evenly ">
        <div class="d-flex bg-secondary p-2 bg-opacity-25 rounded">
            <section class="p-4 d-flex justify-content-between">
                <a href="" class="flex-fill p-3">
                    <i class="fab fa-html5"></i>
                </a>
                <a href="" class="flex-fill p-3">
                    <i class="fab fa-css3-alt"></i>
                </a>
                <a href="" class="flex-fill p-3">
                    <i class="fab fa-js-square"></i>
                </a>
                <a href="" class="flex-fill p-3">
                    <i class="fas fa-database"></i>
                </a>
            </section>
            <section class="p-4 d-flex">
                <a href="" class="flex-fill p-3">
                    <i class="fab fa-java"></i>
                </a>
                <a href="" class="flex-fill p-3">
                    <i class="fab fa-react"></i>
                </a> <a href="" class="flex-fill p-3">
                    <i class="fab fa-angular"></i>
                </a>
                <a href="" class="flex-fill p-3">
                    <i class="fab fa-wordpress"></i>
                </a>
            </section>
        </div>
    </article>
    <article class="container m-3 d-flex justify-content-evenly">
        <div class="card mb-3 bg-secondary bg-opacity-25">
            <div class="row g-0">
                <div class="col-md-4">
                    <img src="/public/img/MEDIO-WORLD.jpeg" class="img-fluid rounded-start" alt="...">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">Nets</h5>
                        <p class="card-text">Sitio Realizado en WordPress</p>
                        <p class="card-text">Responsable de crear contenido, puesta en marcha del proyecto. Tambien fui
                            responsable de subir el sitio y soy responsable de su mantenimiento.
                            Es un trabajo freelance.
                        </p>
                        <a href="#" class="btn btn-primary">Visitar</a>
                    </div>
                </div>
            </div>
        </div>
    </article>
    <article class="container m-3 d-flex justify-content-evenly">
        <div class="card mb-3 bg-secondary bg-opacity-25">
            <div class="row g-0">
                <div class="col-md-4">
                    <img src="/public/img/MEDIO-WORLD.jpeg" class="img-fluid rounded-start" alt="...">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">Nets</h5>
                        <p class="card-text">Sitio Realizado en WordPress</p>
                        <p class="card-text">Responsable de crear contenido, puesta en marcha del proyecto. Tambien fui
                            responsable de subir el sitio y soy responsable de su mantenimiento.
                            Es un trabajo freelance.
                        </p>
                        <a href="#" class="btn btn-primary">Visitar</a>
                    </div>
                </div>
            </div>
        </div>
    </article>
    <article class="container m-3 d-flex justify-content-evenly">
        <div class="card mb-3 bg-secondary bg-opacity-25">
            <div class="row g-0">
                <div class="col-md-4">
                    <img src="/public/img/MEDIO-WORLD.jpeg" class="img-fluid rounded-start" alt="...">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">Nets</h5>
                        <p class="card-text">Sitio Realizado en WordPress</p>
                        <p class="card-text">Responsable de crear contenido, puesta en marcha del proyecto. Tambien fui
                            responsable de subir el sitio y soy responsable de su mantenimiento.
                            Es un trabajo freelance.
                        </p>
                        <a href="#" class="btn btn-primary">Visitar</a>
                    </div>
                </div>
            </div>
        </div>
    </article>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
        crossorigin="anonymous"></script>
</body>

</html>