<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <link rel="stylesheet" href="/public/css/style.css">
    <title>RaulEscobar</title>
</head>

<body class="container">
    <header class="">
        <div class="position-relative">
            <video src="/public/video/WorldRotation.mp4" autoplay loop>
                Tu navegador no admite el elemento <code>video</code>.
            </video>
            <img class="avatar" src="/public/img/foto-perfil-frente.jpeg" alt="avatar">
        </div>
    </header>
    <article class="container m-3">
        <section class="p-5 bg-secondary p-2 text-dark bg-opacity-25 rounded">
            <h2 class="title">
                Raul Roberto Escobar
            </h2>
            <p>
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quo, consequuntur autem perspiciatis sunt
                natus
                rem veritatis provident debitis dolor nihil cupiditate repellendus et tenetur, non sapiente minima
                repellat
                perferendis sequi.
            </p>
        </section>
    </article>
    <article class="container m-3 d-flex justify-content-evenly ">
        <section class="p-5 bg-secondary p-2 bg-opacity-25 rounded col-5">
            <div class="d-flex">
                <i class="flex-fill p-2">icono de dato</i>
                <a href="" class="flex-fill p-2">link a algun dato</a>
            </div>
            <div class="d-flex">
                <i class="flex-fill p-2">icono de dato</i>
                <a href="" class="flex-fill p-2">link a algun dato</a>
            </div>
            <div class="d-flex">
                <i class="flex-fill p-2">icono de dato</i>
                <a href="" class="flex-fill p-2">link a algun dato</a>
            </div>
        </section>
        <section class="p-5 bg-secondary p-2 bg-opacity-25 rounded col-5">
            <div class="d-flex">
                <i class="flex-fill p-2">icono de dato</i>
                <a href="" class="flex-fill p-2">link a algun dato</a>
            </div>
            <div class="d-flex">
                <i class="flex-fill p-2">icono de dato</i>
                <a href="" class="flex-fill p-2">link a algun dato</a>
            </div>
            <div class="d-flex">
                <i class="flex-fill p-2">icono de dato</i>
                <a href="" class="flex-fill p-2">link a algun dato</a>
            </div>
        </section>
    </article>
    <article class="container m-3 d-flex justify-content-evenly ">
        <div class="d-flex bg-secondary p-2 bg-opacity-25 rounded">
            <section class="p-4 d-flex">
                <a href="">
                    <i>icono de tecnologias</i>
                </a>
                <a href="">
                    <i>icono de tecnologias</i>
                </a>
                <a href="">
                    <i>icono de tecnologias</i>
                </a>
            </section>
            <section class="p-4 d-flex">
                <a href="">
                    <i>icono de tecnologias</i>
                </a>
                <a href="">
                    <i>icono de tecnologias</i>
                </a> <a href="">
                    <i>icono de tecnologias</i>
                </a>
            </section>
        </div>
    </article>
    <article class="container m-3 d-flex justify-content-evenly">
        <section class="p-4 bg-secondary bg-opacity-25 rounded">
            <h2>titulo de proyecto</h2>
            <p>Descripción de proyecto Lorem, ipsum dolor sit amet consectetur adipisicing elit. Saepe consectetur quasi
                tenetur voluptatum minima. Nostrum molestiae non perspiciatis numquam maiores nam libero veniam. Quod
                minima, laboriosam placeat cupiditate voluptatem architecto?</p>
            <a href="">link sl proyecto o su repositorio</a>
        </section>
    </article>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
        crossorigin="anonymous"></script>
</body>

</html>