body {
    padding-top: 225px;
}

header {
    position: absolute;
    top: 0;
    right: 0;
    width: 100vw;
}

video {
    object-fit: cover;
    width: 100%;
    height: 200px;
}

.avatar {
    position: absolute;
    left: 75px;
    top: 125px;
    object-fit: fill;
    border: solid 10px white;
    border-radius: 50%;
    width: 150px;
    height: 150px;
}




